<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nova.rawad">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="S.D.S"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".TripActivity"></activity>
        <activity android:name=".VisaActivity" />
        <activity android:name=".PassengersActivity" />
        <activity android:name=".DriversActivity" />
        <activity
            android:name=".Users.CarDetailActivity"
            android:exported="true" />
        <activity
            android:name=".Users.PassportDetailActivity"
            android:exported="true" />
        <activity
            android:name=".Users.newRegisterActivity"
            android:exported="true" />
        <activity
            android:name=".Users.userDashboardActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true" />
        <activity android:name=".Users.UserLoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ProfileScreen" />
        <activity android:name=".LoginScreenActivity" />
        <activity android:name=".RegisterScreen" />
        <activity android:name=".AdminMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>