<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nova.rawad">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:largeHeap="true"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:label="S.D.S"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.nova.rawad.AdminMainActivity"/>
        <activity android:name="com.nova.rawad.MainActivity" />
        <activity android:name="com.nova.rawad.ProfileScreen" />
        <activity android:name="com.nova.rawad.LoginScreenActivity" />
        <activity android:name="com.nova.rawad.RegisterScreen" />
        <activity android:name="com.nova.rawad.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>